<div class="container">
    <p style="font-weight: bold;">My Tasks today</p>
    <app-task *ngFor="let toDo of toDos" [toDoShow]="toDo" (toDoDel)="delToDoList($event)"></app-task>
    <div class = "new-task">
        <p style="font-weight: bold;">Add Task</p>
        <div>
            Name: <input type="text" [(ngModel)]="taskName">
        </div>
        <div>
            Description: <input type="text" [(ngModel)]="taskDescription">
        </div>
               
        <button (click)="addToDoList()">Add</button>
    </div>
    
</div>



